body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100vh;
}

.main-content::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    background-image: url(https://images.unsplash.com/photo-1529472119196-cb724127a98e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZG9nc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1, button, p {
    position: relative;
    font-size: 28px;
}

#increment-btn, #save-btn {
    box-shadow: none;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    margin: 5px;
}